{% extends "base.html" %}
{% block content %}

<h1>{% block title %}List of PRs{% endblock %}</h1>


<p><a href="{% url 'pr_stats:pulls' %}">Load data</a></p>
<p><a href="{% url 'pr_stats:statistics' %}">Stats</a></p>

<p>Total PRs in DB: {{ pr_list.count }}</p>

{% if pr_list %}
<table class="table" id="pr_table">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>User</th>
            <th>State</th>
            <th>Duration</th>
            <th>Links</th>
        </tr>
    </thead>

    <tbody>
        {% for pull in pr_list %}
        <tr class="{{pull.alert}}">
            <td><a href="{% url 'pr_stats:detail' pull.number %}">{{ pull.number }}</a></td>
            <td><a href="{% url 'pr_stats:detail' pull.number %}">{{ pull.title }}</a></td>
            <td><img src="{{ pull.user.avatar_url }}" style="width:24px;height:24px;"></td>
            <td>{{ pull.state }}</td>
            <td data-order="{{ pull.time_open_sec }}">{{ pull.time_open }}</td>
            <td><a href="{{pull.html_url}}" target="_blank">GitHub</a></td>
        </tr>
        {% endfor %}
    </tbody>


</table>
{% else %}
<p>No Pull Requests are available.</p>
{% endif %}


<div id="timeline" style="height: 600px;"></div>

<script>
$(document).ready(function() {
    $('#pr_table').dataTable( {
        "pageLength": 50,
        "order": [[0, 'desc']]
    });
});
</script>

{% endblock %}