{% extends "base.html" %}
{% block content %}

<h1>{% block title %}Report{% endblock %}</h1>

There will be report

<table class="table" id="weekly_table">
    <thead>
    <tr>
        <th>Week number</th>
        {% for week in weekly %}
        <th><a href="{% url 'pr_stats:statistics-week' week %}">{{ week }}</a></th>
        {% endfor %}
    </tr>
    </thead>

    <tbody>
    <tr class="danger">
        <td>Slow</td>
        {% for week, detail in weekly.items %}
        <td>{{ detail.danger }}</td>
        {% endfor %}
    </tr>
    <tr class="warning">
        <td>Medium</td>
        {% for week, detail in weekly.items %}
        <td>{{ detail.warning }}</td>
        {% endfor %}
    </tr>
    <tr class="success">
        <td>Fast</td>
        {% for week, detail in weekly.items %}
        <td>{{ detail.success }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Total</td>
        {% for week, detail in weekly.items %}
        <td>{{ detail.total }}</td>
        {% endfor %}
    </tr>

    </tbody>


</table>
<p><a href="{% url 'pr_stats:index' %}">&lt;&lt; Back</a></p>

<div id="columnchart_values" style="width: 90%;height: 300px;"></div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Speed', 'Slow', 'Medium', 'Fast', { role: 'annotation' } ],
        {% for week, detail in weekly.items %}
        ['Week {{ week }}', {{ detail.danger }}, {{ detail.warning }}, {{ detail.success }}, ''],
        {% endfor %}
      ]);
      var view = new google.visualization.DataView(data);
      var options = {
        width: 1200,
        height: 600,
        legend: { position: 'top', maxLines: 3 },
        bar: { groupWidth: '75%' },
        isStacked: true,
          series: {
            0:{color:'#FFBABA'},
            1:{color:'#FEEFB3'},
            2:{color:'#DFF2BF'},
  }
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(view, options);
  }

</script>

{% endblock %}