{% extends "base.html" %}
{% block content %}

<h1>{% block title %}Hard data{% endblock %}</h1>
<p><a href="{% url 'pr_stats:index' %}">&lt;&lt; Back</a></p>

<h2>Weekly stats</h2>

<p><a href="{% url 'pr_stats:statistics' previous.year previous.month previous.day %}">Previous week</a> |
    <a href="{% url 'pr_stats:statistics' current.year current.month current.day %}">Current week</a> |
    <a href="{% url 'pr_stats:statistics' next.year next.month next.day %}">Next week</a></p>


<b>Closed {{ pulls.count|default_if_none:"0" }} PR's</b>
<b>Open {{ open_pulls.count }} PR's</b>
<p>Used filter: {{ query_filter }}</p>

{% if pulls or open_pulls%}
<table class="table">
    <thead>
    <tr>
        <th>Statistics</th>
        <th>Value</th>
        <th>PR</th>
    </tr>
    </thead>

    <tbody>
    {% if pulls %}
    <tr class="">
        <td>Fastest PR (shortest time opened)</td>
        <td>{{ fastest_pr.time_open }}</td>
        <td><a href="{% url 'pr_stats:detail' fastest_pr.number %}">{{ fastest_pr.title }}</a></td>
    </tr>
    <tr class="">
        <td>Slowest PR (longest time opened)</td>
        <td>{{ slowest_pr.time_open }}</td>
        <td><a href="{% url 'pr_stats:detail' slowest_pr.number %}">{{ slowest_pr.title }}</a></td>
    </tr>
    <tr class="">
        <td>Average time</td>
        <td>{{ average_time }}</td>
        <td>N/A</td>
    </tr>
    <tr class="">

        <td>Median time</td>
        <td>{{ median_time }}</td>
        <td>N/A</td>
    </tr>
    {% endif %}
    {% if longest_open %}
    <tr class="">

        <td>Longest open</td>
        <td>{{ longest_open.time_open }}</td>
        <td><a href="{% url 'pr_stats:detail' longest_open.number %}">{{ longest_open.title }}</a></td>
    </tr>
    {% endif %}
    <tr class="">

        <td>Most bugs</td>
        <td>{{ most_bugs.0 }}</td>
        {% if most_bugs.1 %}
            <td><a href="{% url 'pr_stats:detail' most_bugs.1.number %}">{{ most_bugs.1.title }}</a></td>
        {% else %}
        <td>N/A</td>
        {% endif %}
    </tr>
    </tbody>
</table>
{% endif %}


{% if open_pulls %}
<table class="table" id="open_pr_table">
    <thead>
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>User</th>
        <th>State</th>
        <th>Created</th>
        <th>Duration</th>
        <th>Links</th>
    </tr>
    </thead>

    <tbody>
    {% for pull in open_pulls %}
    <tr class="{{pull.alert}}">
        <td><a href="{% url 'pr_stats:detail' pull.number %}">{{ pull.number }}</a></td>
        <td><a href="{% url 'pr_stats:detail' pull.number %}">{{ pull.title }}</a></td>
        <td data-order="{{ pull.user.login }}"><img src="{{ pull.user.avatar_url }}" style="width:24px;height:24px;"></td>
        <td>{{ pull.state }}</td>
        <td>{{ pull.created_at }}</td>
        <td data-order="{{ pull.time_open_sec }}">{{ pull.time_open }}</td>
        <td><a href="{{pull.html_url}}" target="_blank">GitHub</a></td>
    </tr>
    {% endfor %}
    </tbody>
    {% else %}
    <p>No Open Pull Requests</p>

</table>
{% endif %}


{% if pulls %}
<table class="table" id="pr_table">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>User</th>
            <th>State</th>
            <th>Created</th>
            <th>Duration</th>
            <th>Links</th>
        </tr>
    </thead>

    <tbody>
        {% for pull in pulls %}
        <tr class="{{pull.alert}}">
            <td><a href="{% url 'pr_stats:detail' pull.number %}">{{ pull.number }}</a></td>
            <td><a href="{% url 'pr_stats:detail' pull.number %}">{{ pull.title }}</a></td>
            <td data-order="{{ pull.user.login }}"><img src="{{ pull.user.avatar_url }}" style="width:24px;height:24px;"></td>
            <td>{{ pull.state }}</td>
            <td>{{ pull.created_at }}</td>
            <td data-order="{{ pull.time_open_sec }}">{{ pull.time_open }}</td>
            <td><a href="{{pull.html_url}}" target="_blank">GitHub</a></td>
        </tr>
        {% endfor %}
    </tbody>
{% else %}
<p>No Pull Requests are available.</p>

</table>
{% endif %}

<script>
$(document).ready(function() {
    $('#pr_table').dataTable( {
        "pageLength": 50,
        "order": [[0, 'desc']]
    });
});
</script>

{% endblock %}